@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.shadow-overflow {
  overflow-x: clip;
  overflow-clip-margin: 32px;
}

@theme {
  --animate-scroll: scroll 40s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}




